<h2>Listado de Animales</h2>

<ul>
    <li *ngFor="let data of listaAnimales, let i = index">{{i + 1}} - {{data}}</li>
</ul>

<div>
    <h3 *ngIf="animalBorrado; else noBorr">animal borrado</h3>
    <ng-template #noBorr>
        <h3>No ha borrado nada</h3>
    </ng-template>
   
    <ul>
        <li style="color: red;" *ngFor="let data of arrayAnimalBorrados, let i = index">{{i + 1}} - {{data}}</li>
    </ul>
</div>

<button (click)="borrarAnimal()">borrar animal</button>

<hr>

<app-acumulador></app-acumulador>
